WebApplication/resources/odd/Toponomasia.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Toponomasia

                 <desc>16th c. manuscript</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <pb:behaviour ident="glossary" output="latex">
                    <pb:param name="id" value="@xml:id"/>
                    <pb:param name="name"/>
                    <pb:param name="note"/>
                    <pb:template>\newglossaryentry{[[id]]} {
                        name=[[name]],
                        description={[[note]]}
                    }</pb:template>
                </pb:behaviour>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-08-31+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="Top" source="teipublisher.odd">
             <elementSpec ident="pb" mode="change">
                    <model output="epub" behaviour="break">
            <param name="type" value="'pagebreak'"/>
            <param name="label" value="@n/string()"/>
        </model>
                    
                    <model behaviour="webcomponent">
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="let $facs := replace(util:document-name($parameters?root), '^([^\.]+)\..*$', '$1') return  @facs"/>
        </model>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <modelSequence output="web" predicate="@break='no' and $parameters?view='page'">
            <model behaviour="inline">
                <param name="content" value="'-'"/>
            </model>
            <model behaviour="break">
                <param name="type" value="'line'"/>
                <param name="label" value="@n"/>
            </model>
        </modelSequence>
                    <model output="web" predicate="$parameters?view='page' and not(following-sibling::*[1][self::p|self::div])" behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="inline">
        </model>
                    <model predicate="Initium_libri" behaviour="heading" cssClass="center bold"/>
                    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>